@font-face {
    font-family: 'icomoon';
    src: url('/static/fonts/icomoon.woff2?oc3l3b') format('woff2'),
    	url('/static/fonts/icomoon.woff?oc3l3b') format('woff'),
    	url('/static/fonts/icomoon.ttf?oc3l3b') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	/*max-width: 500px;*/
	margin: 0 auto;
	text-align: center;
}

input, textarea, .g-recaptcha {
	margin-bottom: 1em;
}

h2 {
	padding-bottom: 0;
}

.pswp__bg {
    background: white !important;
}

.pswp__counter {
    color: black !important;
}

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-top;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:after, [class*=" icon-"]:after {
	margin-left: .6em;
}

.icon-step-backward:before {
    content: "\e903";
}
.icon-backward:before {
    content: "\e904";
}
.icon-step-forward:after {
    content: "\e900";
}
.icon-forward:after {
    content: "\e901";
}

.pseudo.button {
	box-shadow: inset 0 0 0 99em #eee;
}

/* MOBILE READY */
@media screen and (max-width: 500px) {
	body {
		margin: 0 1em;
	}
	.nav .text {
		display: none;
	}

    #image {
        width: 100%;
    }

	.icon-random:before {
		content: "\e902";
	}

	[class*=" icon-"]:before, [class^=icon-]:before,
	[class*=" icon-"]:after, [class^=icon-]:after {
		margin: 0;
	}
}